<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="EasyRandomSuite">
    <test name="EasyRandomTests">
        <classes>
            <!-- Add your test classes here -->
            <class name="com.example.EasyRandomTest"/>
        </classes>
    </test>
</suite>
